<div class="container">
  <div id="logo"></div>
  <div id="home_box">
    <div class="content" id="home">
      <h1> Sapphire on Whales </h1>
      <p id="blurb"> Sapphire on Whales is a Ruby on Rails application I built to show my proficiency in web application frameworks. You can make whales and give them sapphires! </p>
      <p class="spacer"></p>
      <a id="enter" href="<%= whales_path %>"> Try it out! </a>
    </div>
  </div>
</div>
